.container {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.input_form input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 10px 20px;
  background-blend-mode: overlay;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 40px rgba(31, 47, 71, 0.25),
    0px 1px 5px rgba(0, 0, 0, 0.1), inset 0 0 0 0.5px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(168, 164, 164, 0.1);
  text-align: center;
  transition: all 0.5s linear;
  &:focus {
    outline: none;
    box-shadow: rgba(3, 138, 255, 0.4) 0px 6px 10px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

.input_form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  input {
    width: 28rem;
  }
}
